body {
  --bs-body-bg: #f5f5f5;
  --bs-link-color-rgb: 31, 171, 104; /* #1FAB68 */
  --bs-link-hover-color-rgb: 9, 82, 86; /* #095256 */
  --pngx-primary: #1FAB68;
  --pngx-primary-hover: #095256;
  --pngx-primary-active: #050533;
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo {
  height: auto;
}

.logo + .logo {
  display: none;
}

.byline {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

.text-primary {
  color: var(--pngx-primary) !important;
}

.form-control {
  --bs-body-bg: #fff;
}

.btn.btn-primary {
  --bs-btn-bg: var(--pngx-primary);
  --bs-btn-border-color: var(--pngx-primary);
  --bs-btn-hover-bg: var(--pngx-primary-hover);
  --bs-btn-hover-border-color: #0c2c10;
  --bs-btn-active-bg: var(--pngx-primary-active);
  --bs-btn-active-border-color: #09220d;
}

.btn-link {
  --bs-btn-color: var(--pngx-primary);
  --bs-btn-hover-color: var(--pngx-primary-hover);
  --bs-btn-active-color: var(--pngx-primary-active);
}

.form-accounts {
  max-width: 330px;
  min-width: 300px;
}

.form-stacked-top input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-stacked-middle input {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-stacked-bottom input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-accounts .form-floating input:focus {
  position: relative;
  z-index: 100;
}

.form-accounts .form-floating input:focus~label {
  z-index: 101;
}

@media (prefers-color-scheme: dark) {
  body {
    --bs-body-bg: #050533;
    --bs-body-color: #e0e4eb;
    --bs-body-color-rgb: 224, 228, 235;
    --bs-border-color: #2a2a5a;
  }

  .form-control, .form-floating {
    --bs-body-bg: #0a0a35;
  }

  .logo {
    display: none;
  }

  .logo + .logo {
    display: inline;
  }

  svg.logo .text {
    fill: #e0e4eb !important;
  }

  .byline {
    color: #e0e4eb;
  }
}
